* {
    position: relative;
    font-family: 'Quicksand', '微軟正黑體', sans-serif;

}
html, body {
    margin: 0; padding: 0;
    overflow-x: hidden;
}
body {
    background-image: url('https://i.imgur.com/w8PZ2l1.png');
}
@media (min-width: 1200px){
    .container {
        max-width: 1200px!important;
    }
}


// globle var
$letter-spacing: 2px;
$light-green: #1DCB8B;

// bootstrap
@import "custom";
@import "~bootstrap/scss/bootstrap";


// custom
@import 'landing.scss';
@import 'intro.scss';
@import 'join_info.scss';
@import 'schedule.scss';
@import 'staff.scss';
@import "sponsor.scss";
