#sponsor {
    color: #f7f7f7;

    .intro {
        top: 180px;
    }

    .planet {
        position: absolute;
        width: 700px;
        left: -20px;
        top: -30px;
        filter: drop-shadow(0px 0px 50px rgba(#8ec6ff, 0.4))  brightness(1.15)  blur(.5px);

        img {
            width: 100%;

        }
    }

    .content {
        letter-spacing: $letter-spacing;
        h1 {
            font-size: 32px;
            margin-bottom: 1.2em;
            color: $light-green;
            font-weight: 900;
        }
        h3 {
            font-size: 25px;
            margin-bottom: .3em;
        }
        p {
            text-align: justify;
            font-size: 18px;
            margin-bottom: 1.6em;
        }
    }
}
